# SPDX-FileCopyrightText: 2024 Luflosi <zonewatch@luflosi.de>
# SPDX-License-Identifier: CC0-1.0

[licenses]
allow = [
  "Apache-2.0",
  "BSD-2-Clause",
  "BSL-1.0",
  "CC0-1.0",
  "GPL-3.0",
  "ISC",
  "MIT",
  "Unicode-DFS-2016",
]
